

<div class="d-flex h-100">
  <div class="side-bar">
    <div class="side-bar__logo">
      Logo
    </div>
    <div class="side-bar__options">
      <div>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="costum-w-20 online-users">
    <div class="online-users__title">
      Chats
    </div>
    <app-onlineusers [onlineUsers]="_onlineUsers" (selectUserEvent)="selectUser($event)"></app-onlineusers>
  </div>
  <div class="costum-w-80 chat-box">
    <app-navbar></app-navbar>
    <app-conversation [conversation]="conversation"></app-conversation>
    <app-chat-form (onSubmitEvent)="sendMessage($event)"></app-chat-form>
  </div>
</div>