

<div class="d-flex h-100">
  <div class="side-bar">
    <div class="side-bar__logo">
      Logo
    </div>
    <div class="side-bar__options">
      <div>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="side-bar__link">
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="costum-w-20 online-users">
    <div class="online-users__title">
      Chats
    </div>
    <app-onlineusers [onlineUsers]="_onlineUsers" (selectUserEvent)="selectUser($event)"></app-onlineusers>
  </div>
  <div class="costum-w-80 chat-box">
    <app-navbar></app-navbar>
    <div class="chat-box__conversation" #conversationScroll>
      <div class="list-group-item list-group-item-action onlineusers__user" *ngFor="let message of conversation"
        [className]="message.from=='operator' ? 'chat-box__message chat-box__message--right alert-success' : 'chat-box__message chat-box__message--left alert-primary'">
        {{message.message }}
      </div>
    </div>
    <div class="chat-box__form">
      <div class="input-group mb-1">
        <input type="text" class="form-control" placeholder="message" [(ngModel)]="message"
          aria-label="Recipient's username" aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="sendMessage()" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>